#ignore all logs
*.log

#ignore the downloads
downloads/

#ignore the download logs
download list.csv


#ignore pycharm project
.idea/

#ignore the youtube links file
/links.txt
/settings.txt

#project plan
project plan.txt
